/* Index Styles */

/* Global Reset */
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
 }

 /* Links Styles */
 a {
   text-decoration: none;
   color: unset;
 }

 /* Header */
 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 85px;
   padding: 0px 80px;
 }

 .brand {
   font-weight: 700;
   cursor: pointer;
 }

 nav ul {
   display: flex;
   flex-direction: row;
   gap: 30px;
 }

 nav ul li {
   list-style: none;
   transition: 0.1s all;
 }

 nav ul li:hover {
   color: #1f7bf2;
 }