/* Index Styles */

/* Global Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter;
}

/* Anchor Styles */
a {
 text-decoration: none;
 color: unset;
}

body {
 min-height: 100vh;
}

 main {
   min-height: calc(100vh - 85px);
   padding: 0px 80px;
 }

 /* Header */
 .cabecalho {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 85px;
   padding: 0px 80px;
   border-bottom: 1px solid #ed145b;
   border-bottom-left-radius: 32px;
   border-bottom-right-radius: 32px;
   margin-bottom: 60px;
 }

 .cabecalho .brand h2 {
   font-weight: 700;
   font-size: 20px;
   cursor: pointer;
 }

 .cabecalho .brand h2 strong {
   color: #ed145b;
 }

 .cabecalho .brand h2 span {
   font-weight: 200;
 }

 nav ul {
   display: flex;
   flex-direction: row;
   gap: 30px;
 }

 nav ul li {
   list-style: none;
   transition: 0.1s all;
 }

 nav ul li:hover {
   color: #ed145b;
 }

 /* Main */
 section {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 100px;
 }

 article {
   max-width: 300px;
   padding: 15px;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   border-radius: 8px;
 }

 article .article-title {
   font-size: 20px;
   color: #ed145b;
   letter-spacing: 8px;
   text-transform: uppercase;
   margin-bottom: 10px;
 }

 article figure {

 }

 article figure img {
   width: 100%;
   border-radius: 8px;
   
 }

 article figure figcaption {
   text-align: justify;
   margin-top: 8px;
 }

 /* Footer */
 footer {
  padding: 20px 80px;
  width: 100%;
  height: 200px;
  background: #e8e8e8;
 }


.main-games{
  display: flex;
  justify-content:end;
}

.section-games{
  display: flex;
  justify-content: center;
}