/* Index Styles */

/* Global Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
  }

  /* Anchor Styles */
a {
    text-decoration: none;
    color: unset;
   }
   
   body {
    min-height: 100vh;
   }
   
   main {
    padding: 0px 80px;
   }

/* Header */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0px 80px;
    border-bottom: 1px solid #ed145b;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-bottom: 60px;
   }

   nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
   }
   
   nav ul li {
    list-style: none;
    transition: 0.1s all;
   }
   
   nav ul li:hover {
    color: #ed145b;
   }

/* Main */
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
   }

   article .article-title {
    font-size: 20px;
    color: #ed145b;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
   }
   
   
   article figure img {
    width: 100%;
    border-radius: 8px;
   }
